In [3]:
import pandas as pd

import numpy as np

df=pd.read_csv("adult.csv")
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32533,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32534,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32541,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32544,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [4]:
df['workclass_num'] = df.workclass.map({'Private':0, 'State-gov':1, 'Federal-gov':2, 'Self-emp-not-inc':3, 'Self-emp-inc':4, 'Local-gov':5, 'Without-pay':6})
df['over50K'] = np.where(df.income == '<=50K', 0, 1)
df['marital_num'] = df['marital.status'].map({'Widowed':0, 'Divorced':1, 'Separated':2, 'Never-married':3, 'Married-civ-spouse':4, 'Married-AF-spouse':4, 'Married-spouse-absent':5})
df['race_num'] = df.race.map({'White':0, 'Black':1, 'Asian-Pac-Islander':2, 'Amer-Indian-Eskimo':3, 'Other':4})
df['sex_num'] = np.where(df.sex == 'Female', 0, 1)
df['rel_num'] = df.relationship.map({'Not-in-family':0, 'Unmarried':0, 'Own-child':0, 'Other-relative':0, 'Husband':1, 'Wife':1})
df['occupation_cat']=df.occupation.map({' Tech-support':0, 'Craft-repair':1, 'Other-service':2, 'Sales':3, 'Exec-managerial':4, 'Prof-specialty':5, 'Handlers-cleaners':6, 'Machine-op-inspct':7, 'Adm-clerical':8, 'Farming-fishing':9, 'Transport-moving':10, 'Priv-house-serv':11, 'Protective-serv':12, 'Armed-Forces':13})
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,...,hours.per.week,native.country,income,workclass_num,over50K,marital_num,race_num,sex_num,rel_num,occupation_cat
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,...,40,United-States,<=50K,NaN,0,0,0,0,0,NaN
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,...,18,United-States,<=50K,0.0,0,0,0,0,0,4.0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,...,40,United-States,<=50K,NaN,0,0,1,0,0,NaN
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,...,40,United-States,<=50K,0.0,0,1,0,0,0,7.0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,...,40,United-States,<=50K,0.0,0,2,0,0,0,5.0

In [8]:
X = df[['age','occupation_cat','workclass_num', 'education.num',  'race_num', 'sex_num', 'rel_num', 'capital.gain', 'capital.loss']]
y = df.over50K

In [9]:
X['occupation_cat'].value_counts()

5.0     4140
1.0     4099
4.0     4066
8.0     3770
3.0     3650
2.0     3295
7.0     2002
10.0    1597
6.0     1370
9.0      994
12.0     649
11.0     149
13.0       9
Name: occupation_cat, dtype: int64

In [10]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: over50K, dtype: int32

In [11]:
df['over50K'].value_counts()

0    24720
1     7841
Name: over50K, dtype: int64

In [12]:
X.replace(' ?',np.NaN)

,age,occupation_cat,workclass_num,education.num,race_num,sex_num,rel_num,capital.gain,capital.loss
0,90,NaN,NaN,9,0,0,0,0,4356
1,82,4.0,0.0,9,0,0,0,0,4356
2,66,NaN,NaN,10,1,0,0,0,4356
3,54,7.0,0.0,4,0,0,0,0,3900
4,41,5.0,0.0,10,0,0,0,0,3900
5,34,2.0,0.0,9,0,0,0,0,3770
6,38,8.0,0.0,6,0,1,0,0,3770
7,74,5.0,1.0,16,0,0,0,0,3683
8,68,5.0,2.0,9,0,0,0,0,3683
9,41,1.0,0.0,10,0,1,0,0,3004
10,45,5.0,0.0,16,1,0,0,0,3004
11,38,5.0,3.0,15,0,1,0,0,2824
12,52,2.0,0.0,13,0,0,0,0,2824
13,32,4.0,0.0,14,0,1,0,0,2824
14,51,NaN,NaN,16,0,1,0,0,2824
15,46,5.0,0.0,15,0,1,0,0,2824
16,45,10.0,0.0,7,0,1,0,0,2824
17,57,4.0,0.0,14,0,1,0,0,2824
18,22,6.0,0.0,12,1,1,0,0,2824
19,34,3.0,0.0,13,0,1,0,0,2824
20,37,4.0,0.0,13,0,1,0,0,2824
21,29,3.0,0.0,7,0,0,0,0,2754
22,61,3.0,0.0,9,0,0,0,0,2754
23,51,10.0,0.0,10,0,1,1,0,2603
24,61,NaN,NaN,9,0,1,1,0,2603
25,21,1.0,0.0,11,0,1,1,0,2603
26,33,1.0,0.0,2,0,1,0,0,2603
27,49,2.0,0.0,3,0,1,1,0,2603
28,37,10.0,4.0,6,0,1,0,0,2559
29,38,5.0,0.0,6,0,1,0,0,2559
...,...,...,...,...,...,...,...,...,...
32531,31,7.0,0.0,9,0,0,1,0,0
32532,29,3.0,0.0,9,0,0,0,0,0
32533,35,NaN,NaN,13,0,0,1,0,0
32534,30,NaN,NaN,13,2,0,0,0,0
32535,34,5.0,0.0,16,0,1,1,0,0
32536,54,4.0,0.0,13,2,1,1,0,0
32537,37,8.0,0.0,10,0,0,0,0,0
32538,22,12.0,0.0,8,1,1,0,0,0
32539,34,4.0,0.0,13,0,0,0,0,0
32540,30,1.0,0.0,9,1,1,0,0,0
32541,71,NaN,NaN,16,0,1,1,0,0
32542,45,8.0,1.0,9,0,0,0,0,0
32543,41,NaN,NaN,9,1,0,0,0,0
32544,72,NaN,NaN,9,0,1,1,0,0
32545,45,5.0,5.0,12,0,0,0,0,0
32546,31,2.0,0.0,14,4,0,0,0,0
32547,39,8.0,5.0,12,0,0,1,0,0
32548,37,NaN,0.0,12,0,0,0,0,0
32549,43,7.0,0.0,9,0,1,1,0,0
32550,43,8.0,1.0,10,0,0,0,0,0
32551,43,1.0,3.0,10,0,1,1,0,0
32552,32,6.0,0.0,6,3,1,1,0,0
32553,43,3.0,0.0,11,0,1,1,0,0
32554,32,NaN,0.0,14,2,1,0,0,0
32555,53,4.0,0.0,14,0,1,1,0,0
32556,22,12.0,0.0,10,0,1,0,0,0
32557,27,NaN,0.0,12,0,0,1,0,0
32558,40,7.0,0.0,9,0,1,1,0,0
32559,58,8.0,0.0,9,0,0,0,0,0
32560,22,8.0,0.0,9,0,1,0,0,0

In [13]:
X['occupation_cat']=X['occupation_cat'].fillna(value=5,axis=0)

C:\Users\PRATYUSH\Anaconda3\envs\SCRAPING\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
X['workclass_num'].value_counts()

0.0    22696
3.0     2541
5.0     2093
1.0     1298
4.0     1116
2.0      960
6.0       14
Name: workclass_num, dtype: int64

In [15]:
X['workclass_num']=X['workclass_num'].fillna(value=0,axis=0)

C:\Users\PRATYUSH\Anaconda3\envs\SCRAPING\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
X

,age,occupation_cat,workclass_num,education.num,race_num,sex_num,rel_num,capital.gain,capital.loss
0,90,5.0,0.0,9,0,0,0,0,4356
1,82,4.0,0.0,9,0,0,0,0,4356
2,66,5.0,0.0,10,1,0,0,0,4356
3,54,7.0,0.0,4,0,0,0,0,3900
4,41,5.0,0.0,10,0,0,0,0,3900
5,34,2.0,0.0,9,0,0,0,0,3770
6,38,8.0,0.0,6,0,1,0,0,3770
7,74,5.0,1.0,16,0,0,0,0,3683
8,68,5.0,2.0,9,0,0,0,0,3683
9,41,1.0,0.0,10,0,1,0,0,3004
10,45,5.0,0.0,16,1,0,0,0,3004
11,38,5.0,3.0,15,0,1,0,0,2824
12,52,2.0,0.0,13,0,0,0,0,2824
13,32,4.0,0.0,14,0,1,0,0,2824
14,51,5.0,0.0,16,0,1,0,0,2824
15,46,5.0,0.0,15,0,1,0,0,2824
16,45,10.0,0.0,7,0,1,0,0,2824
17,57,4.0,0.0,14,0,1,0,0,2824
18,22,6.0,0.0,12,1,1,0,0,2824
19,34,3.0,0.0,13,0,1,0,0,2824
20,37,4.0,0.0,13,0,1,0,0,2824
21,29,3.0,0.0,7,0,0,0,0,2754
22,61,3.0,0.0,9,0,0,0,0,2754
23,51,10.0,0.0,10,0,1,1,0,2603
24,61,5.0,0.0,9,0,1,1,0,2603
25,21,1.0,0.0,11,0,1,1,0,2603
26,33,1.0,0.0,2,0,1,0,0,2603
27,49,2.0,0.0,3,0,1,1,0,2603
28,37,10.0,4.0,6,0,1,0,0,2559
29,38,5.0,0.0,6,0,1,0,0,2559
...,...,...,...,...,...,...,...,...,...
32531,31,7.0,0.0,9,0,0,1,0,0
32532,29,3.0,0.0,9,0,0,0,0,0
32533,35,5.0,0.0,13,0,0,1,0,0
32534,30,5.0,0.0,13,2,0,0,0,0
32535,34,5.0,0.0,16,0,1,1,0,0
32536,54,4.0,0.0,13,2,1,1,0,0
32537,37,8.0,0.0,10,0,0,0,0,0
32538,22,12.0,0.0,8,1,1,0,0,0
32539,34,4.0,0.0,13,0,0,0,0,0
32540,30,1.0,0.0,9,1,1,0,0,0
32541,71,5.0,0.0,16,0,1,1,0,0
32542,45,8.0,1.0,9,0,0,0,0,0
32543,41,5.0,0.0,9,1,0,0,0,0
32544,72,5.0,0.0,9,0,1,1,0,0
32545,45,5.0,5.0,12,0,0,0,0,0
32546,31,2.0,0.0,14,4,0,0,0,0
32547,39,8.0,5.0,12,0,0,1,0,0
32548,37,5.0,0.0,12,0,0,0,0,0
32549,43,7.0,0.0,9,0,1,1,0,0
32550,43,8.0,1.0,10,0,0,0,0,0
32551,43,1.0,3.0,10,0,1,1,0,0
32552,32,6.0,0.0,6,3,1,1,0,0
32553,43,3.0,0.0,11,0,1,1,0,0
32554,32,5.0,0.0,14,2,1,0,0,0
32555,53,4.0,0.0,14,0,1,1,0,0
32556,22,12.0,0.0,10,0,1,0,0,0
32557,27,5.0,0.0,12,0,0,1,0,0
32558,40,7.0,0.0,9,0,1,1,0,0
32559,58,8.0,0.0,9,0,0,0,0,0
32560,22,8.0,0.0,9,0,1,0,0,0

In [18]:
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [22]:
lr=LogisticRegression(random_state=0)
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

C:\Users\PRATYUSH\Anaconda3\envs\SCRAPING\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [23]:
cm=confusion_matrix(y_test,y_pred)

In [24]:
cm

array([[5781,  412],
       [ 886, 1062]], dtype=int64)

In [25]:
accuracy=(cm[0,0]+cm[1,1])/np.sum(cm)
accuracy*100

84.05601277484338